<!DOCTYPE html>
<html lang="pt">
  {%- set pageTitle %}{% if title %}{{
    title
  }}
  | {% endif %}{{
    meta.siteName
  }}{% endset -%}
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ pageTitle }}</title>
    <link rel="stylesheet" href="{{ '/css/style.css' | url }}" />
  </head>
  <body>
    <a href="#main" id="skip-to-content">Pular para o conteúdo</a>
    <header class="header">
      <div class="home-link">
        <a class="home-link__anchor" href="{{ '/' | url }}">Página Inicial</a>
      </div>
      <label
        id="nav-visibility-label"
        tabindex="0"
        class="nav-visibility__toggle"
        for="nav-visibility"
        title="Abrir/Fechar Menu"
      >
        <span class="nav-visibility__toggle-line"></span>
        <span class="nav-visibility__toggle-line"></span>
        <span class="nav-visibility__toggle-line"></span>
        <span hidden>Abrir/Fechar Menu</span>
      </label>
    </header>
    <div class="content">
      <input type="checkbox" id="nav-visibility" />

      {{ content | safe }}
    </div>
    <script>
      var menuToggle = document.querySelector("#nav-visibility-label");
      var menu = document.querySelector("#nav-visibility");

      var enterKeyCode = 13;

      menuToggle.addEventListener("keyup", function (event) {
        if (event.keyCode == enterKeyCode) {
          var menuOpen = menu.checked;

          if (menuOpen) {
            menu.checked = false;
          } else {
            menu.checked = true;
          }
        }
      });
    </script>
  </body>
</html>
