---
layout: base.njk
---

{% include 'sitenav.njk' %}
<main id="main" class="content__main">
  <article>
    <h1>{{ title }}</h1>
    <p>
      {{ description }}
    </p>
    {{ content | toc | safe }}

    {{ content | safe }}
  </article>
</main>
