<nav class="nav">
    <ul>
        {%- for page in collections.pages -%}
        <li class="nav__navitem">
            <a href="{{ page.url }}">{{ page.data.title }}</a>
        </li>
        {%- endfor -%}
    </ul>
</nav>