body {
    font-family: $content-typeface;
    font-weight: normal;
    background-color: $color-background;
    color: $color-text;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: $color-primary;
    min-height: 5.4rem;
    border-bottom: 1px solid $color-accent;
}

.content {
    display: flex;
    flex-grow: 1;
}

.content__main {
    margin: 0 auto;
    max-width: 50rem;
}

@media (max-width: 1200px) {
    .content__main {
        padding: 0 2rem;
    }
}

@media (max-width: 800px) {
    .content {
        flex-direction: column;
    }
    
}