body {
  font-family: $content-typeface;
  font-weight: normal;
  background-color: $color-background;
  color: $color-text;
  display: flex;
  flex-direction: column;
}

#skip-to-content {
  z-index: -1;
  position: absolute;
  color: $color-primary--dark;
  background-color: $color-background;
  padding: 0.5rem;
  vertical-align: center;

  &:focus {
    z-index: 2;
  }
}

.header {
  background-color: $color-primary;
  min-height: 5.4rem;
  border-bottom: 1px solid $color-accent;
  position: relative;
  display: flex;
  align-items: stretch;
}

.content {
  display: flex;
  flex-grow: 1;
}

.content__main {
  margin: 0 auto 2rem auto;
  max-width: 50rem;
}

@media (max-width: 1200px) {
  .content__main {
    padding: 0 2rem;
  }
}

@media (max-width: 800px) {
  .content {
    flex-direction: column;
  }
}
