.nav {
  background-color: #ebf2f2;
  border-right: 1px solid $color-accent;

  & > ul {
    padding: 2rem;
    padding-right: 5rem;
  }
}

.nav__navitem {
  font-size: 1.6rem;

  & > a {
    color: $color-primary--dark;
    &:focus {
      outline: 2px dashed $color-primary--dark;
    }
  }
}
