.nav {
  background-color: #ebf2f2;
  border-right: 1px solid $color-accent;
  position: sticky;
  position: -webkit-sticky;
  align-self: flex-start;
  top: 0;
  height: 100vh;

  & > ul {
    padding: 2rem;
    padding-right: 5rem;
  }

  & > ul ul {
    padding-left: 1rem;
    & li {
      font-size: 1.2rem;
    }
  }
}

.nav__navitem {
  font-size: 1.6rem;

  & > a {
    color: $color-primary--dark;
    &:focus {
      outline: 2px dashed $color-primary--dark;
    }
  }
}

#nav-visibility {
  display: none;
}

.nav-visibility__toggle {
  display: none;
  flex-direction: column;
  position: absolute;
  cursor: pointer;
  right: 0;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 0.5rem;

  &:focus {
    outline: 2px dashed $color-background;
  }
}

.nav-visibility__toggle-line {
  display: inline-block;
  background-color: white;
  height: 4px;
  width: 35px;
  margin-bottom: 5px;
}

@media (max-width: 800px) {
  .nav {
    position: static;
    align-self: initial;
    height: unset;
    display: none;
  }

  #nav-visibility:checked ~ .nav {
    display: block;
  }

  .nav-visibility__toggle {
    display: flex;
  }
}
