.nav {
  background-color: #ebf2f2;
  border-right: 1px solid $color-accent;
  position: sticky;
  position: -webkit-sticky;
  align-self: flex-start;
  top: 0;
  height: 100vh;

  & > ul {
    padding: 2rem;
    padding-right: 5rem;
  }

  & > ul ul {
    padding-left: 1rem;
    & li {
      font-size: 1.2rem;
    }
  }
}

.nav__navitem {
  font-size: 1.6rem;

  & > a {
    color: $color-primary--dark;
    &:focus {
      outline: 2px dashed $color-primary--dark;
    }
  }
}

@media (max-width: 800px) {
  .nav {
    position: static;
    align-self: initial;
    height: unset;
  }
}
