$color-primary: #40b0a6;
$color-primary--light: #ebf2f2;
$color-primary--dark: #004a40;
$color-accent: #e1be6a;
$color-text: #333;
$color-background: #fffafa;
$color-link: #0072b2;

img {
  border: 1px solid $color-text;
}
